@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&family=Poppins:wght@300;400;500;600&display=swap");

// Fonts
$Poppins: "Poppins", sans-serif;

//  Colors
$bg: #1f1f38;
$bg-secondary: #2c2c6c;
$primary: #4895EF;
$primary-secondary: rgba(77, 181, 255, 0.4);
$white: #fff;
$box-primary: #2c2c6ce2;
$box-secondary: #272754d4;

$light-grey: rgba(255, 255, 255, 0.6);

// Container Width

$container-width-lg: 75%;
$container-width-md: 85%;
$container-width-sm: 90%;

// Transition 

$Transition: all 400ms ease;

// Border
$NormalRadius: 2rem;
$BtnRadius: 0.4rem;