@import "../variables";
.container.contact_container{
    width: 58%;
    display: grid;
    grid-template-columns: 38% 58%;
    gap: 12%;
}
.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact_option{
    background: linear-gradient($box-secondary, $box-primary);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: $Transition;
}
.contact_option:hover{
    background: transparent;
    border-color: $primary-secondary;
}
.contact_icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.contact_option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}
.contact_option h5{
    color: $light-grey;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}
input,textarea{
    width: 100%;
    padding: 1.2rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid $primary-secondary;
    resize: none;
    color: $white;
    font-size: 1rem;
}
input::placeholder, textarea::placeholder{
    font-family: $Poppins;
    font-size: .9rem;
}
